@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0;}
table { border-collapse:collapse;}
fieldset,img { border:0;}
address,caption,cite,code,dfn,th,var { font-style:normal; font-weight:normal;}
ol,ul { list-style:none;}
caption,th { text-align:left;}
h1,h2,h3,h4,h5,h6 { font-size:100%;	font-weight:normal;}
q:before,q:after { content:'';}
abbr,acronym { border:0;}
:focus { outline:0; }
/** 重置表格元素 **/
table { border-collapse: collapse;}
/** 清除浮动 **/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}  
.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}

/*统一字体样式*/
body,button,input,select,textarea { font:12px/1.5 tahoma, arial, \5b8b\4f53;}
body{font-family: "Microsoft Yahei", "微软雅黑", Arial, STHeiti, Tahoma, Helvetica;}
select, input, button, textarea{font: 100% Tahoma,Helvetica,Arial,sans-serif;}

/*定位*/
.tl{text-align:left}  
.tc{text-align:center}  
.tr{text-align:right}  
.bc{margin-left:auto;margin-right:auto;}  
.fl{float:left;display:inline}  
.fr{float:right;display:inline;}  
.cb{clear:both}  
.cl{clear:left}  
.cr{clear:right}
.vm{vertical-align:middle}  
.pr{position:relative}  
.pa{position:absolute}  
.abs-right{position:absolute;right:0}  
.zoom{zoom:1}  
.hidden{visibility:hidden}  
.none{display:none} 
.ovh{overflow:hidden;}
/*长度高度*/  
.w{width:100%}
.h{height:100%}

 /*边距*/ 
.m10{margin:10px}  
.mt10{margin-top:10px}
.mb10{margin-bottom:10px}
.ml10{margin-left:10px} 
.mr10{margin-right:10px}  

.p10{padding:10px;}  
.pt10{padding-top:10px}
.pb10{padding-bottom:10px}
.pl10{padding-left:10px}  
.pr10{padding-right:10px}

/*通栏横切结构样式*/
.area{ width:1100px; margin:0 auto;}  

/*链接*/
a{ text-decoration:none; color:#666;}
a:hover{ text-decoration:none;}
/*修改google浏览器滚动条的样式*/
::-webkit-scrollbar-thumb {
width: 6px;
border-radius: 3px;
background: #aaa;
}
::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {
width: 6px;
border-radius: 3px;
background: #f0f0f0;
}
.ihide{display: hide;}
.ishow{display: show;}